.coding-languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coding-langauges-container h5 {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.coding-languages-container ul {
  display: flex;
}

/* .company-logos-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 8.5rem;
  transition: transform 0.3s ease-in-out;
} */

.coding-languages-container img {
  /* width: 84px;
  height: 25px; */
  filter: drop-shadow(0 0 10px rgba(0, 123, 255, 0.6));
  /* Adjust color and intensity */
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.coding-languages-container img:hover {
  filter: drop-shadow(0 0 15px rgba(0, 123, 255, 1));
  transform: scale(1.1);
}